html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-family: "Playfair Display SC", serif;
	font-weight: 100;
	line-height: 1.6;
	font-size: 18px;
	word-break: break-all;
	color: #fff;
	background-color: #000;
	overscroll-behavior-y: none;
}
a {
	font-weight: 100;
	line-height: 1.6;
}
* {
	box-sizing: border-box;
	cursor: none;
}
li,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	color: #0070f3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main.top {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	padding: 10vh 10vw;
	.info {
		position: absolute;
	}
	.slider {
		img {
			object-fit: cover;
			width: 80vw;
			height: 80vh;
		}
	}
	img {
		max-width: 100%;
		display: block;
	}
}
.nav {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	pointer-events: none;
	&.is_open {
		pointer-events: auto;
		overflow: hidden;
	}
	h1 {
		position: relative;
		width: max-content;
		padding: 6vw 4vw;
		margin: 0;
		font-size: clamp(32px, 10vw, 40vw);
		font-weight: 100;
		letter-spacing: 3vw;
		line-height: 0;
		color: transparent;
		pointer-events: auto;
		transition: all 300ms ease;
		-webkit-text-stroke: 1px #fff;
		&:hover {
			color: #fff;
		}
	}
	.menu {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100vw;
		background-color: #1b5618;
		padding: 10vw 4vw;
	}
	li {
		width: fit-content;
	}
	a {
		display: block;
		width: fit-content;
		height: 100%;
		transition: all 300ms ease;
		color: #fff;
		font-size: clamp(32px, 7vw, 80px);
		white-space: nowrap;
		text-decoration: none;
	}
	p {
		margin: 0;
		font-size: clamp(16px, 5vw, 20vw);
		color: #9c080a;
	}
}

.gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow-x: scroll;
	-ms-overflow-style: none; /* IE, Edge 対応 */
	scrollbar-width: none; /* Firefox 対応 */
	&::-webkit-scrollbar {
		/* Chrome, Safari 対応 */
		display: none;
	}
	.image_list {
		display: flex;
		align-items: center;
		width: 100%;
		margin: 0 0 0 240px;
		gap: 3vw;
		.image_item {
			min-width: 20vw;
			.title,
			.statement {
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
				overflow: hidden;
			}
			&:nth-child(odd) {
				margin: 8% 0 0 0;
			}
			&:nth-child(even) {
				margin: 0 0 8% 0;
			}
			img {
				object-fit: cover;
			}
		}
	}
	.scroll_arrow {
		position: fixed;
		right: 32px;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		color: #fff;
	}
}

.detail {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	&.beside {
		grid-template-columns: 50% 50%;
		direction: rtl;
		.photo {
			width: 100%;
		}
	}
	&.vertical {
		.photo {
			width: 100%;
			padding: 14vw 10vw 0 10vw;
		}
	}
	.text {
		padding: 4vh 4vw;
	}
}

.cursor-dot,
.cursor-dot-outline {
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	opacity: 1;
	z-index: 99999;
	transform: translate(-50%, -50%);
}

.cursor-dot {
	width: 8px;
	height: 8px;
	background-color: #fff;
}

.cursor-dot-outline {
	width: 40px;
	height: 40px;
	font-size: 1px;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	word-break: keep-all;
	transition: width 300ms, height 300ms, border 300ms, font-size 300ms,
		font-weight 300ms, scale 300ms ease;
	&.click {
		width: 150px;
		height: 150px;
		font-size: 18px;
		font-weight: bold;
		border: 4px solid #fff;
		letter-spacing: 0.8vw;
		color: #fff;
		transition: width 300ms, height 300ms, border 300ms, font-size 300ms,
			font-weight 300ms, scale 300ms ease;
	}
}
.noise {
	position: fixed;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	opacity: 0.3;
}
.bg_noise {
	background: url(../public/images/noise.gif);
	position: absolute;
	width: 100%;
	height: 100%;
}
.page_transition_overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #1b5618;
}
.z_info {
	z-index: 1;
}
.z_nav {
	z-index: 2;
}
.z_page_transition_overlay,
.z_h1 {
	z-index: 3;
}
.z_noise {
	z-index: 4;
}

.profile {
	.profile_image {
		img {
			object-fit: cover;
			width: 100%;
			height: 50vh;
		}
	}
	.profile_text {
		width: 50%;
		height: 50vh;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		.name,
		.camera,
		.lens,
		.contect {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
		}
	}
}
